p{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fitapoluustavc;
    src: url(/fonts/fitapoluustavc.otf);
}

@font-face {
    font-family: miroslav;
    src: url(./fonts/mr_miroslav.otf);
}

.leaflet-sidebar-content::-webkit-scrollbar{
    width: 0;
}

.item-feature-i{    
    font-size: 18px;
    color: rgb(104, 104, 104);
    margin-left: 8px;
    transform: translate(0, 10%);
    visibility: hidden;
}

.item-feature{
    float: right;
    margin-right: 10px;
}

.item-open i{
     color: #f3f3f3;
}

.item-feature-vis{
    visibility: visible;
}

.item-feature-i:hover{
    color: black;
}

body { 
    margin:0; 
    padding:0; 

    text-align: justify;
}

#map { 
    position: absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0; 
}

.leaflet-sidebar-pane{
    padding: 0;
}

.leaflet-sidebar-header{
    margin: 0;    
}

#home > h1{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 26px;
    font-family: 'miroslav';
}

.leaflet-sidebar-content{
    background-color: white;
}

.leaflet-sidebar-pane > p{
    margin: 0;
}

.pane-wrapper{
    padding-right: 40px;

    position: relative;
}

.home-main-title{
    position: relative;
}

.home-main-title-img{
    width: 660px;
}

.home-main-title-grad{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 20%, rgba(255,255,255,0) 100%);
    height: 38px;
    width: 660px;

    position: absolute;
}

#home-main-title-h1{
    position: absolute;
    font-family: miroslav;
    font-size: 26px;
    width: 100%;
    text-align: center;
    margin: auto;
}

@media (min-width: 1200px) {
    .leaflet-sidebar {
      width: 660px;
      max-width: 660px; } }

@media (min-width: 1200px){
    .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
        left: 670px;
    }
}

.category{
    font-size: 15px;
    border-radius: 10px;
}

.category:hover{
    background-color: rgb(236, 234, 234);
}

#leaflet-control-custom{
    width: 30px;
    height: 30px;
    background-image: url('./data/img/ui/layer-group-solid.svg');
    background-size: 16px;
}

.obj-list{
    padding: 5px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-top: 3px;
}

.obj-list > ul, li {
    font-size: 14px;
    list-style: none;
    cursor: pointer;
}


.obj-list-category{
    padding: 5px 10px;
}

.obj-list-category::before{
    content: '\25CF'; 
    color: rgb(83, 79, 79);
    font-size: 16px;
    margin-right: 12px;
}

.obj-list-items{
    padding: 0px;

    transition: max-height 0.5s ease-in-out;

    max-height: 0;
    overflow: hidden;
}

.obj-list-item-desc{
    font-weight: normal;
    cursor: default;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}


.poi_img{
    position: relative;
    right: 10px;
}

.item:hover{
    background-color: rgb(209, 207, 207);
}

.obj-list-items-show{
    max-height: 0;
}
  
.item{
    padding-left: 30px;
    padding-top: 1px;
    margin: 0;
    overflow: hidden;

    position: relative;
}

.item::before{
    content: '\2023';
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(-50%, -50%);
}

.item-open{
    font-weight: bold;
    background-color: rgb(233, 230, 230);
    margin: 0px 0px 7px 0px;
    padding-left: 10px;
}

.item-open::before{
    content: none;
}
  
/* .nature-tooltip{
    font: italic 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: rgb(152, 233, 141);
    background: none;
    border: 0;
    box-shadow: none;
} */

.leaflet-marker-shadow.icon-shadow{
    opacity: 0.5;
}

.leaflet-marker-icon:hover {

}

.fa-eye-slash{
    visibility: visible;
}

.leaflet-sidebar-content.leaflet-sidebar-left{
    left: 0;
}

/* sidebar-hover */

.leaflet-sidebar-tabs{
    width: 0;
    overflow: hidden;

    transition: width 0.5s ;
}

.leaflet-sidebar-content{
    transition: left 0.5s;
}

.leaflet-sidebar-left .leaflet-sidebar-content {
    left: 0;
}

.leaflet-sidebar-hover-tabs{
    width: 20px;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.leaflet-sidebar-hover-tabs:hover ~ .leaflet-sidebar-tabs{
    width: 40px;
    z-index: 3;
}

.leaflet-sidebar-hover-tabs:hover ~ .leaflet-sidebar-content{
    left: 40px;
}

.leaflet-sidebar-tabs:hover{
    width: 40px;
    z-index: 3;
}

.pane-wrapper{
    padding-left: 40px;
}

.item-open{
    padding: 0;
    margin: 0;
}

.item::before + p{
    padding-left: 30px;
}

.item-open > .item-wrapper{
    background-color:rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    padding: 8px 0;
}

.item-wrapper > p{
    display: inline;
}

.item-open > .item-wrapper > p{
    padding-left: 30px;
    color: #f3f3f3;
}

.obj-list-item-desc > p{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: #f3f3f3;
    bottom: 1%;
    padding: 10px;
}

/* ant path */

.antpath{
    stroke: rgba(0, 255, 255, 0);
}
